@import './normalize.css';

html {
  padding: 5px;
}

body {
  font-size:18px;
  margin: auto;
  max-width: 550px;
  font-family:Ubuntu Mono, Helvetica,sans-serif;
  color: #111;
  margin-bottom: 100px;
  line-height: 1.4;
}
 
input[type="text"] {
  min-width: 260px;
}

li {
  list-style: none;
  margin: 22px 0 auto;
}
